@font-face {
    font-family: Header;
    src: url(../font/noto_jp/NotoSansJP-Regular.ttf);
}
@font-face {
    font-family: Qwitcher;
    src: url(../font/QwitcherGrypen-Bold.ttf);
}
@font-face {
    font-family: Aeonik;
    src: url(../font/aeonik/AeonikTRIAL-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url(../images/background\ 3.jpg);
}
.main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.main #form{
    display: flex;
    flex-flow:row wrap ;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width:80%;
    height:650px;
    /* height:10%; */
}
.main #form .content{
    flex:0 50%;
    order:2;
    padding:20px;
}
.main #form .content p{
    margin:10px 0px 0px 20px;
    font-family: Header,sans-serif;
    font-size: 16px;
}
.main #form .content p label{
    color:#380927;
    font-size: 18px;
}
.main #form .content p input{
    margin-top: 10px;
    padding:10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #380927;
    box-shadow: none;
    width: 90%;
    font-family: Aeonik,sans-serif;
}
.main #form .content p input:focus{
    outline:0;
    background-color: #edd2e0;
    border-bottom:2px solid #966985 ;
}
.main #form .content h2,.side h1{
    font-family: Header,sans-serif;
    /* animation-name: welcome;
    animation-duration: 4000ms;
    animation-iteration-count: 2;
    animation-direction: alternate-reverse; */
}
.main #form .side{
    display: flex;
    flex:1;
    order: 1;
    background-image: url(../images/background1.png);
    padding: 15px;
    background-size: cover;
    border-radius: 20px;
    justify-content: center;
    width: 50%;
}
.main #form .side div{
    text-align: center;
    color:white;
    background-color: #966985;
    padding: 20px;
    border-radius: 20px;
    width:80%;
    height: 50%;
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
}
.main #form .side div p{
    font-family: Header,sans-serif;
    font-size: 20px;
}
#submit,#back{
    cursor: pointer;
    width:190px;
    height:50px;
    text-align: center;
    margin: 20px 110px;
    background-color: #380927;
    border-radius: 50px;
    border: none;
    box-shadow: none;
    color:white;
    font-family: Aeonik,sans-serif;
    font-size: 16px;
    transition: 400ms;
}
#submit:hover{
    background-color: #966985;
    border: 1px solid black;
}
#back{
    color:#380927;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    height: 50px;
    width:150px;
    background-color: white;
    transition: 200ms;
    margin: 0;
    margin-top: 20px;
}
#back img{
    width:30px;
    height:30px;
    transform: rotate(180deg);
    transition: 400ms;
}
#back:hover{
    font-size: 20px;
    background-color: #edd2e0;
}
#back:hover img{
    width: 35px;
    height:35px;
}
@keyframes welcome {
    0%{
        color:#380927;
        font-size: 25px;
        
    }
    25%{color: #966985;font-size: 30px;}
    50%{color: #edd2e0;font-size: 35px;}
    75%{color: #966985;font-size: 40px;}
    100%{color: #380927;font-size: 45px;}
}
@media all and (max-width:978px) {
    .main #form{
        flex-flow:column wrap ;
        padding: 20px;
        width:80%;
        height:900px;   
    }
    .main #form .content{
        flex: 0 70% ;
        order:2;
        padding:20px;
    }
    .main #form .content p{
        margin:10px 0px 0px 20px;
        font-family: Header,sans-serif;
        font-size: 12px;
    }
    .main #form .content p label{
        color:#380927;
        font-size: 20px;
    }
    .main #form .content p input{
        margin-top: 10px;
        padding:10px;
        font-size: 16px;
        width: 90%;
    }
    .main #form .side{
        flex:1;
        order: 1;
        padding: 15px;
        border-radius: 20px;
        width: 100%;
        
        margin:0px 0px 20px;
    }
    .main #form .side div{
        padding: 20px;
        border-radius: 20px;
        width:80%;
        height: 90%;
    }
    #submit{
        width:30%;
        height:12%;
        margin:20px 30%;
        border-radius: 30px;
        font-family: Aeonik,sans-serif;
        font-size: 16px;
    }
    #back{
        margin-top: 10px;
    }
}
@media all and (max-width:700px) {
    .main{
        width:100%;
        margin-top:20px;
    }
    .main #form{
        width: 98%;
        padding:10px;
    }
    .main #form .content{
        flex: 0 70% ;
        order:2;
        padding:5px 10px;
    }
    .main #form .content p{
        margin:10px 0px 0px 20px;
        font-family: Header,sans-serif;
        font-size: 12px;
    }
    .main #form .content p label{
        color:#380927;
        font-size: 16px;
    }
    .main #form .content p input{
        margin-top: 10px;
        padding:10px;
        font-size: 14px;
        width: 95%;
    }
    .main #form .side{
        flex:1;
        order: 1;
        padding: 8px;
        border-radius: 20px;
        width: 100%;
        margin:0px 0px 20px;
        display: flex;
        justify-content: center;
    }
    .main #form .side div{
        padding: 20;
        border-radius: 20px;
        width:80%;
        height: 75%;
    }
    #submit{
        width:50%;
        height:10%;
        margin:20px 28%;
        border-radius: 30px;
        font-size: 16px;
    }
    #back{
        margin:0;
    }
}
@media all and (max-width:450px) {
    .main #form{
        height:1000px;
    }
    .main #form .side div{
        padding: 10px;
        border-radius: 20px;
        width:80%;
        height: 87%;
    }
    .main #form .side div h1{
        font-size: 28px;
    }
    .main #form .side div p{
        font-size: 14px;
    }
    #submit{
        width:70%;
        height:8%;
        margin:20px 17%;
        border-radius: 30px;
        font-size: 16px;
    }
    #back{
        margin-top: 20px;
        width: 57%;
        height:20%;
        font-size: 16px;
    }
    
}
/* For Snackbar/toasty*/
#snackbar{
    text-align: center;
    font-family: AeonikReg,sans-serif;
    display: flex;
    justify-content: center;
    background-color:#380927;
    border-radius: 10px;
    border: 1px solid black;
    color:white;
    visibility: hidden;
    position: absolute;
    margin-left:-200px ;
    left: 97%;
    top: 15px;
    z-index: 2;
    width: 17%;
    height:17%;
    padding: 20px;
    font-size: 16px;
}
#snackbar.show{
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
@keyframes fadein {
    from {top: -50px; opacity: 0;}
    to {top: 15px; opacity: 1;}
}
@keyframes fadeout {
    from {top: 15px; opacity: 1;}
    to {top:-50px; opacity: 0;}
}

#Name{
    color:#380927;
}